.App {
  text-align: center;
}

.App-header {
  background-color: rgb(207, 218, 138);
  padding: 1em;
  color: white;
  margin-bottom: 1em;
}

.App-title {
  Font-Family: 'Ruda', Sans-Serif;
  Font-Size: 48px;
}

