.App {
  text-align: center;
  background-color: rgb(159, 165, 150);
}

.App-header {
  background-color: rgb(207, 218, 138);
  padding: 1em;
  color: white;
  margin-bottom: 1em;
}

.App-title {
  font-family: "Ruda", Sans-Serif;
  font-size: 48px;
}
